In [1]:
#vyhladanie iba "na firmu co isli do hotela"

#co ideme robit v kode

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sc

In [3]:
df = pd.read_csv('international_matches.csv',encoding="latin1")

# Explorativna analyza

In [4]:
#zobrazenie prvych piatich zaznamov "overenie dat"
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#zobrazenie poslednych piatich zaznamov "overenie dat"
df.tail()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [6]:
#zobrazenie vsetkych dat, vieme zistit ci su nejake hodnoty chybajuce
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [7]:
#vyhodime neutral location, nakolko to nie je relevantny udaj a netreba snim pracovat
df.drop("neutral_location",axis=1,inplace=True)

In [8]:
#zobrazime udaje a zistime ze neutral_location sa uz nenachadza
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  shoot_out                      23921 non-null  object
 15  home_team_result               23921 non-null  object
 16  home_team_goalkeeper_score     8379 non-null   float64
 17  away_team_goalkeeper_score     8095 non-null   float64
 18  home_team_mean_defense_score   7787 non-null   float64
 19  home_team_mean_offense_score   8510 non-null   float64
 20  home_team_mean_midfield_score  8162 non-null   float64
 21  away_team_mean_defense_score   7564 non-null   float64
 22  away_team_mean_offense_score   8312 non-null   float64
 23  away_team_mean_midfield_score  7979 non-null   float64
dtypes: float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [9]:
#vyhodili sme 19 chybnych zaznamov
df=df.dropna(subset=["home_team_goalkeeper_score","away_team_goalkeeper_score","home_team_mean_defense_score","home_team_mean_offense_score","home_team_mean_midfield_score","away_team_mean_defense_score","away_team_mean_offense_score","away_team_mean_offense_score","away_team_mean_midfield_score"])
df.isnull().sum()

date                             0
home_team                        0
away_team                        0
home_team_continent              0
away_team_continent              0
home_team_fifa_rank              0
away_team_fifa_rank              0
home_team_total_fifa_points      0
away_team_total_fifa_points      0
home_team_score                  0
away_team_score                  0
tournament                       0
city                             0
country                          0
shoot_out                        0
home_team_result                 0
home_team_goalkeeper_score       0
away_team_goalkeeper_score       0
home_team_mean_defense_score     0
home_team_mean_offense_score     0
home_team_mean_midfield_score    0
away_team_mean_defense_score     0
away_team_mean_offense_score     0
away_team_mean_midfield_score    0
dtype: int64

In [10]:
#zobrazenie vsetkych dat, vieme zistit ci su nejake hodnoty chybajuce
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4303 entries, 8264 to 23918
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           4303 non-null   object
 1   home_team                      4303 non-null   object
 2   away_team                      4303 non-null   object
 3   home_team_continent            4303 non-null   object
 4   away_team_continent            4303 non-null   object
 5   home_team_fifa_rank            4303 non-null   int64
 6   away_team_fifa_rank            4303 non-null   int64
 7   home_team_total_fifa_points    4303 non-null   int64
 8   away_team_total_fifa_points    4303 non-null   int64
 9   home_team_score                4303 non-null   int64
 10  away_team_score                4303 non-null   int64
 11  tournament                     4303 non-null   object
 12  city                           4303 non-null   object
 13  country                        4303 non-null   object
 14  shoot_out                      4303 non-null   object
 15  home_team_result               4303 non-null   object
 16  home_team_goalkeeper_score     4303 non-null   float64
 17  away_team_goalkeeper_score     4303 non-null   float64
 18  home_team_mean_defense_score   4303 non-null   float64
 19  home_team_mean_offense_score   4303 non-null   float64
 20  home_team_mean_midfield_score  4303 non-null   float64
 21  away_team_mean_defense_score   4303 non-null   float64
 22  away_team_mean_offense_score   4303 non-null   float64
 23  away_team_mean_midfield_score  4303 non-null   float64
dtypes: float64(8), int64(6), object(10)
memory usage: 840.4+ KB

In [13]:
#spravime po tom ako odstranime nulove zaznamy
#po odstraneni udajov mame 4303 udajov
#v datasete sa vyskytuju timy v rozmedzi 1 az 190 (nemusia byt vsetky)
#najviac golov domaci strelili v pocte 8
#najviac golov inkasovali domaci 7
#priemerny fifa rank domace timu zo vsetkych zapasov je 32
#priemerny fifa rank hostujuceho timu je 34 
#z tohto datasetu vidime ze su domace timy "prednostnovane tie lepsie"
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,4303.00000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000,4303.000000
mean,32.23379,34.515919,749.075064,731.586335,1.422961,1.069022,78.025564,76.942366,76.862933,78.093307,78.137369,76.191239,77.547757,77.399954
std,25.64885,25.902235,616.813901,608.315315,1.261324,1.082220,6.993375,7.185716,5.273799,5.702442,5.097690,5.218066,5.557612,5.133342
min,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,49.000000,49.000000,58.200000,53.300000,56.800000,58.500000,59.700000,57.200000
25%,12.00000,14.000000,0.000000,0.000000,0.000000,0.000000,73.500000,73.000000,73.200000,74.000000,75.000000,72.500000,73.700000,74.500000
50%,26.00000,29.000000,759.000000,726.000000,1.000000,1.000000,78.000000,77.000000,76.500000,77.700000,77.800000,76.000000,77.000000,77.200000
75%,47.00000,50.000000,1378.000000,1365.000000,2.000000,2.000000,83.000000,82.000000,80.800000,82.300000,81.500000,79.500000,81.300000,80.500000
max,173.00000,190.000000,2164.000000,2164.000000,8.000000,7.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,92.000000

In [ ]:
#po in12 v HR